/* Primero, todas las importaciones, sin nada en medio */
@import "tailwindcss";
/* Si necesitas el plugin de tipografía, mantenlo, si no, puedes borrar esta línea */
/* @import "tailwindcss/typography"; */


/* Después de TODAS las importaciones, puedes poner tus estilos personalizados */

html {
  scroll-behavior: smooth;
}

/* Estilos personalizados para la animación del título de sección */
[data-aos="scale-x-100"] {
  transform: scaleX(0);
  transition-property: transform;
}

[data-aos="scale-x-100"].aos-animate {
  transform: scaleX(1);
}